<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <img src = "https://cdn.codechef.com/sites/default/files/uploads/pictures/ca35e4831d2f3f3f600cdc447874d8a4.jpg" />
<%- include("partials/footer"); -%>
