<%- include("partials/header.ejs") %>
<h1>Contact</h1>
<p><%=cContent%></p>
<a href="https://www.instagram.com/sneh.shah.1675/">
    <img src="/icons/instagram.png" alt="">
</a>
<a href="https://www.facebook.com/sneh.shah.71404">
    <img src="/icons/facebook.png" alt="">
</a>
<a href="https://www.linkedin.com/in/sneh-shah-b53328201/">
    <img src="/icons/linkedin.png" alt="">
</a>
<a href="https://twitter.com/SnehSha04698488">
    <img src="/icons/twitter.png" alt="">
</a>

<%- include("partials/footer.ejs") %>
