<%- include("partials/header.ejs") %>
<h1>Contact</h1>
<p><%=cContent%></p>
<a href="https://www.facebook.com/profile.php?id=100057387065141">
    <img src="/icons/facebook.png" alt="">
</a>
<a href="https://www.linkedin.com/in/kartik-pal-2a8237201/">
    <img src="/icons/linkedin.png" alt="">
</a>
<a href="https://twitter.com/Kartikp68090158">
    <img src="/icons/twitter.png" alt="">
</a>

<%- include("partials/footer.ejs") %>
